@import "../../default.scss";

.menu-text {
    @include align-horizontal;
    @include align-vertical;
    text-align: center;
    color: $white;
}

.menu-picture {
    @include align-horizontal;
    @include align-vertical;
    left: 25%;
    right: 25%;
}