@import "../../default.scss";

.text {
    color: $white;
}

.text_2 {
    color: $secondary;
}

.dialog {
    color: rgba(5,10,15,255);
}

.MuiFormControlLabel-label {
    color: $white;
}

.MuiSvgIcon-root {
    color: #9f20d1;
}